.vscode
.DS_Store

# vcpkg build artifacts
vcpkg_installed/
build/
CMakeCache.txt
CMakeFiles/

# Optional: the vcpkg binary itself and downloads
# /vcpkg/
# /vcpkg_downloads/
# /vcpkg_buildtrees/
# /vcpkg_packages/

# Visual Studio temporary stuff
*.VC.db
*.VC.VC.opendb
*.user
*.suo
*.pdb

# Ignore output images

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
